<div id="cesiumContainer"></div>
<div style="position: absolute;left:100px;top:200px">
  <button (click)="createCenter()" >创建center组件</button>
  <button (click)="centerDispose()" >销毁center组件</button>
</div>
<my-header></my-header>
<ng-template dl-host></ng-template>
<my-hero></my-hero>
